services:
  # -----------------------
  # PostgreSQL
  # -----------------------
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: image_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # -----------------------
  # Redis
  # -----------------------
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  # -----------------------
  # Django
  # -----------------------
  web:
    build: ./django_app
    container_name: web
    working_dir: /app
    ports:
      - "8000:8000"
    command: >
      bash -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./django_app:/app
      - ./media:/app/media
      - ./static:/app/static
      - ./logs:/app/logs
    environment:
      SECRET_KEY: your-secret-key
      DEBUG: "True"
      DB_NAME: image_db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: "5432"
      CACHE_URL: redis://redis:6379/1
    depends_on:
      - db
      - redis

  # -----------------------
  # Celery worker for Django
  # -----------------------
  celery_django:
    build: ./django_app
    container_name: celery_django
    working_dir: /app
    command: celery -A image_service worker --loglevel=INFO
    volumes:
      - ./django_app:/app
    depends_on:
      - web
      - redis
    restart: unless-stopped

  # -----------------------
  # FastAPI SERVICE
  # -----------------------
  fastapi:
    build: ./fastapi_app
    container_name: fastapi
    working_dir: /app
    ports:
      - "9000:9000"
    command: >
      sh -c "
        sleep 10;
        exec uvicorn app.main:app --host 0.0.0.0 --port 9000 --reload 
      "
    volumes:
      - ./fastapi_app:/app
    environment:
      - DEBUG=False
      - EMAIL_FROM=Letsmc@mail.ru
      - EMAIL_PASSWORD=sULXZuZSxQtHlVY7Jq7W
      - DJANGO_API_URL=http://web:8000/api/v1
      - REDIS_URL=redis://redis:6379/0
      - SMTP_SERVER=smtp.mail.ru
      - SMTP_PORT=465
    depends_on:
      - web
      - redis

  # -----------------------
  # Celery worker for FastAPI
  # -----------------------
  celery_fastapi:
    build: ./fastapi_app
    container_name: celery_fastapi
    working_dir: /app
    command: celery -A app.core.celery.celery_app worker --loglevel=INFO
    volumes:
      - ./fastapi_app:/app
    environment:
      - EMAIL_FROM=Letsmc@mail.ru
      - EMAIL_PASSWORD=sULXZuZSxQtHlVY7Jq7W
      - DJANGO_API_URL=http://web:8000/api/v1
      - REDIS_URL=redis://redis:6379/0
      - SMTP_SERVER=smtp.mail.ru
      - SMTP_PORT=465
    depends_on:
      - fastapi
      - redis
      - web
    restart: unless-stopped

  # -----------------------
  # Prometheus
  # -----------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - web
      - fastapi
    restart: unless-stopped

  # -----------------------
  # Grafana
  # -----------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    depends_on:
      - prometheus

volumes:
  db_data:
  grafana_data:
  prometheus_data: